#nav-header{

  height: 40px;
  line-height: 50px;

  header{

    span{
      float: left;
      font-size: 3em;
      margin-left: 44%;
    }
  }


  nav{
    float: right;
    margin-top: 2px;
    margin-right: 10px;

    a{
      color: Crimson;
      font-size: 1.5em;
      transition: all 0.1s;
      padding: 4.0px;

      &:hover{
        color: #FF3800;
        text-decoration: none;
      }
    }

    .active-link{
      color: #009383;
    }

  }

  &:after{
    content: '';
    display: table;
    clear: both;

  }


}
